{% extends 'layout.html' %}

{% block title %}{{ post.title }}{% endblock %}

		{% block css %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='prism.css') }}">
		<style type="text/css">
			div.toolbar-item button{
				border: 2px solid #fff!important;
				color: #fff!important;
				padding: 2px 3px!important;
			}
		</style>
		{% endblock %}

{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/post-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.title }}</h1>
                            <span class="meta">
                                Posted by Admin on {{ post.timestamp }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ post.description|safe }}
                    </div>
                </div>
            </div>
        </article>

        <script type="text/javascript" src="{{ url_for('static', filename='prism.js') }}"></script>
        {% endblock %}